<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
        <link rel="stylesheet" href="../css/style.css">

</head>
<body id="profilePage">
    <%- include('../partials/_navbar.ejs') %>
    <div id="profileTitle">
    <h1>MeetUps</h1>
    <h2>Profile<br>User: <%= user.username %></h2>
    </div>
    <form action="/profile?_method=DELETE" method="POST">
        <button type="submit">DELETE PROFILE</button>
    </form>
</body>
</html>