<%- include('./_header.ejs') %>
<nav>
        <a href="/">Home</a>
        <a href="/events">Events</a>
    <% if (user) { %> 
        <a href="/events/user">My Events</a>
        <a href="/events/new">Create Event</a>
        <a href="/profile">Profile</a>
        <a href="/sign-out">Sign Out</a>
    <% } %>
</nav>
    <% if (user) { %>
    <h3 id="usernameDisplay">User: <%= user.username %></h3>
    <% } %>